<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/desktop-4.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT Sans Caption:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-4">
      <div class="desktop-4-child"></div>
      <b class="profile1">Profile</b
      ><img class="image-1-icon1" alt="" src="../static/public/image-1@2x.png" />
      <div class="smart-london-making-container1">
        <p class="smart-london4"><b>SMART LONDON</b></p>
        <p class="making1">Making</p>
        <p class="making1">London</p>
        <p class="making1">Smarter</p>
        <p class="making1">Together</p>
      </div>
      <img
        class="house-solid-1-icon1"
        alt=""
        src="../static/public/housesolid-1.svg"
      /><b class="home1">Home</b
      ><img
        class="bell-solid-1-icon1"
        alt=""
        src="../static/public/bellsolid-1.svg"
      /><b class="notifications2">Notifications</b
      ><img class="desktop-4-item" alt="" src="../static/public/ellipse-3.svg" /><b
        class="settings1"
        >Leaderboard</b
      ><img
        class="gear-solid-1-21"
        alt=""
        src="../static/public/star.png"
      /><img
        class="user-group-solid-3-icon1"
        alt=""
        src="../static/public/usergroupsolid-3.svg"
      /><img class="image-9-icon" alt="" src="../static/public/image-9@2x.png" /><img
        class="desktop-4-inner"
        alt=""
        src="../static/public/ellipse-11@2x.png"
      /><b class="sadiq-khan">@sadiq_khan</b
      ><b class="peter-smith">@peter_smith</b><b class="amanda555">@amanda555</b
      ><img
        class="share-from-square-solid-1-icon"
        alt=""
        src="../static/public/sharefromsquaresolid-1.svg"
      /><img
        class="share-from-square-solid-2-icon"
        alt=""
        src="../static/public/sharefromsquaresolid-1.svg"
      /><img
        class="share-from-square-solid-2-icon"
        alt=""
        src="../static/public/sharefromsquaresolid-1.svg"
      /><img
        class="share-from-square-solid-4-icon"
        alt=""
        src="../static/public/sharefromsquaresolid-1.svg"
      /><img
        class="ellipsis-vertical-solid-2-icon"
        alt=""
        src="../static/public/ellipsisverticalsolid-2.svg"
      /><img
        class="ellipsis-vertical-solid-3-icon"
        alt=""
        src="../static/public/ellipsisverticalsolid-2.svg"
      /><img
        class="ellipsis-vertical-solid-4-icon"
        alt=""
        src="../static/public/ellipsisverticalsolid-2.svg"
      /><img class="desktop-4-child1" alt="" src="../static/public/line-7.svg" />
      <div class="posts">Posts</div>
      <img class="image-10-icon" alt="" src="../static/public/image-10@2x.png" /><img
        class="image-21-icon"
        alt=""
        src="../static/public/image-10@2x.png"
      /><img class="image-12-icon1" alt="" src="../static/public/image-10@2x.png" />
      <div class="lets-put-our-container">
        <p class="lets-put-our">
          Let’s put our foot down on e-cars ! 100 new rapid charging points
          would be installed by the end of 2030 in London.
        </p>
        <p class="lets-put-our">#electricvehiclerevolution #smartcity</p>
        <p class="lets-put-our">#cleanenergy #smartmobility</p>
        <p class="lets-put-our">Comments</p>
        <p class="more-electric-vehicle">@charles102</p>
        <p class="more-electric-vehicle">
          More electric vehicle charge points in this city plssss
        </p>
        <p class="more-electric-vehicle">...</p>
      </div>
      <div class="make-sure-you-container">
        <p class="lets-put-our">
          Make sure you thank people who make a difference everyday !
        </p>
        <p class="lets-put-our">#thankyou #Camden #cleancity</p>
        <p class="lets-put-our">#smartcity</p>
        <p class="lets-put-our">Comments</p>
        <p class="more-electric-vehicle">@kamila101</p>
        <p class="more-electric-vehicle">Camden classic !</p>
        <p class="more-electric-vehicle">...</p>
      </div>
      <div class="do-you-know-container">
        <p class="lets-put-our">
          Do you know Sky Garden in London ? Perched at the top of a skyscraper,
          Sky Garden is a three-story glass dome that offers incredible views of
          the city. The Sky Garden is free to enter !
        </p>
        <p class="lets-put-our">#skygarden #greencity</p>
        <p class="lets-put-our">#greatplace</p>
        <p class="lets-put-our">Comments</p>
        <p class="more-electric-vehicle">...</p>
      </div>
      <img class="image-11-icon" alt="" src="../static/public/image-11@2x.png" /><img
        class="star-icon"
        alt=""
        src="../static/public/star-14.svg"
      /><img class="desktop-4-child2" alt="" src="../static/public/star-8.svg" /><img
        class="desktop-4-child3"
        alt=""
        src="../static/public/star-11.svg"
      /><img
        class="desktop-4-child4"
        alt=""
        src="../static/public/ellipse-4@2x.png"
      /><img
        class="heart-solid-2-icon"
        alt=""
        src="../static/public/heartsolid-2.svg"
      /><img
        class="heart-solid-3-icon"
        alt=""
        src="../static/public/heartsolid-2.svg"
      /><img
        class="heart-solid-5-icon"
        alt=""
        src="../static/public/heartsolid-2.svg"
      /><img
        class="heart-solid-4-icon"
        alt=""
        src="../static/public/heartsolid-4.svg"
      /><img
        class="desktop-4-child5"
        alt=""
        src="../static/public/ellipse-5@2x.png"
      /><img class="image-20-icon" alt="" src="../static/public/image-20@2x.png" /><img
        class="desktop-4-child6"
        alt=""
        src="../static/public/star-20.svg"
      />
    </div>
  </body>

  <script>
    // get all elements with class "example"
    elements = document.getElementsByClassName("profile1");

    // loop through the elements and add an onclick event
    for (let i = 0; i < elements.length; i++) {
      elements[i].onclick = function() {
        // set window location to "/"
        window.location.href = "/user/peter";
      }
    }

    elements = document.getElementsByClassName("notifications2");

    // loop through the elements and add an onclick event
    for (let i = 0; i < elements.length; i++) {
      elements[i].onclick = function() {
        // set window location to "/"
        window.location.href = "/notification";
      }
    }

    elements = document.getElementsByClassName("sadiq-khan");

// loop through the elements and add an onclick event
    for (let i = 0; i < elements.length; i++) {
      elements[i].onclick = function() {
        // set window location to "/"
        window.location.href = "/user/sadiq";
      }
    }

    elements = document.getElementsByClassName("settings1");

// loop through the elements and add an onclick event
    for (let i = 0; i < elements.length; i++) {
      elements[i].onclick = function() {
        // set window location to "/"
        window.location.href = "/leaderboards";
      }
    }
  </script>
</html>
