<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT Sans Caption:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-3">
      <img class="image-1-icon" alt="" src="../static/public/image-1@2x.png" />
      <div class="smart-london-making-container">
        <p class="smart-london"><b>SMART LONDON</b></p>
        <p class="blank-line"><b>&nbsp;</b></p>
        <p class="making">Making</p>
        <p class="making">London</p>
        <p class="making">Smarter</p>
        <p class="making">Together</p>
      </div>
      <b class="my-profile">My Profile </b
      ><img
        class="desktop-3-child"
        alt=""
        src="../static/public/ellipse-1@2x.png"
      /><img
        class="house-solid-1-icon"
        alt=""
        src="../static/public/housesolid-1.svg"
      /><b class="home" href = "{{url_for('workerfeed')}}">Home</b
      ><img class="bell-solid-1-icon" alt="" src="../static/public/bellsolid-1.svg" /><b
        class="notifications"
        >Notifications</b
      ><img class="desktop-3-item" alt="" src="../static/public/ellipse-3.svg" /><b
        class="edit-profile"
        >Edit profile</b
      ><b class="settings">Settings</b
      ><img
        class="gear-solid-1-1"
        alt=""
        src="../static/public/gearsolid-1-1.svg"
      /><img class="gear-solid-1-2" alt="" src="../static/public/gearsolid-1-2.svg" /><b
        class="sadiq-khan"
        >Sadiq Khan</b
      >
      <div class="mayor-of-london">
        Mayor of London, Trying to make London a smarter city everyday
      </div>
      <img class="image-4-icon" alt="" src="../static/public/image-4@2x.png" /><img
        class="desktop-3-inner"
        alt=""
        src="../static/public/star-15.svg"
      /><img class="star-icon" alt="" src="../static/public/star-5.svg" /><img
        class="desktop-3-child1"
        alt=""
        src="../static/public/star-13.svg"
      /><img class="desktop-3-child2" alt="" src="../static/public/star-11.svg" /><img
        class="desktop-3-child3"
        alt=""
        src="../static/public/star-15.svg"
      /><img class="desktop-3-child4" alt="" src="../static/public/star-5.svg" /><img
        class="desktop-3-child5"
        alt=""
        src="../static/public/star-5.svg"
      /><img class="desktop-3-child6" alt="" src="../static/public/star-8.svg" /><img
        class="user-group-solid-1-icon"
        alt=""
        src="../static/public/usergroupsolid-1.svg"
      />
      <div class="followers">Followers</div>
      <div class="million">2.1 million</div>
      <img class="image-5-icon" alt="" src="../static/public/image-5@2x.png" /><img
        class="image-6-icon"
        alt=""
        src="../static/public/image-6@2x.png"
      />
      <div class="connectivity">Connectivity</div>
      <div class="energy">Energy</div>
      <div class="materials"><p class="making">Materials</p></div>
      <div class="placemaking"><p class="making">Placemaking</p></div>
      <div class="mobility"><p class="making">Mobility</p></div>
      <div class="water">
        <p class="making">Water</p>
        <p class="making">&nbsp;</p>
      </div>
      <div class="health-and-safety-container">
        <p class="making">Health and</p>
        <p class="making">Safety {{ citydata }}</p>
        <p class="making"></p>
      </div>
      <img class="desktop-3-child7" alt="" src="../static/public/star-5.svg" /><img
        class="desktop-3-child8"
        alt=""
        src="../static/public/star-11.svg"
      /><img class="desktop-3-child9" alt="" src="../static/public/star-18.svg" /><img
        class="desktop-3-child10"
        alt=""
        src="../static/public/star-18.svg"
      /><img class="desktop-3-child11" alt="" src="../static/public/star-21.svg" /><img
        class="image-7-icon"
        alt=""
        src="../static/public/image-7@2x.png"
      /><img class="desktop-3-child12" alt="" src="../static/public/star-21.svg" /><img
        class="desktop-3-child13"
        alt=""
        src="../static/public/star-15.svg"
      />
    </div>
  </body>
</html>
