<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form onsubmit="alert('Thank you for your feedback.')">
        <label for="subscribe">What did you ride today?</label> <br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Cars">
        <label for="vehicle1"> Cars</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Motorbikes">
        <label for="vehicle2"> Motorbikes</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Buses">
        <label for="vehicle3"> Buses</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Trucks">
        <label for="vehicle3"> Trucks</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Vans">
        <label for="vehicle3"> Vans</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Bikes">
        <label for="vehicle3"> Bikes</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Walk">
        <label for="vehicle3"> Walk</label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>