<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="hero is-primary is-fullheight">
   <div class="hero-body">
     <div class="container">
       <div class="columns is-centered">
        <h1 class="title is-1">Welcome to <br> Smart City</h1> <br>
         <div class="column is-5-tablet is-4-desktop is-3-widescreen">
           <form action="" class="box" method="post">
             <div class="field">
               <label for="" class="label">Email</label>
               <div class="control has-icons-left">
                 <input type="email" placeholder="e.g. johndoe@jpm.com" class="input" value="{{
                   request.form.email }}">
                 <span class="icon is-small is-left">
                   <i class="fa fa-envelope"></i>
                 </span>
               </div>
             </div>
             <div class="field">
               <label for="" class="label">Password</label>
               <div class="control has-icons-left">
                 <input type="password" placeholder="*******"
                 name="password"
                 class="input"
                 value="{{ request.form.password }}">
                 <span class="icon is-small is-left">
                   <i class="fa fa-lock"></i>
                 </span>
               </div>
             </div>
             <div class="field">
               <label for="" class="checkbox">
                 <input type="checkbox">
                Remember me
               </label>
             </div>
             <div class="field">
               <button class="button is-success">
                 Login
               </button>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
 </section>

