<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/desktop-6.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT Sans Caption:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-6">
      <div class="desktop-6-child"></div>
      <img
        class="user-group-solid-2-icon"
        alt=""
        src="../static/public/usergroupsolid-3.svg"
      /><img class="image-1-icon2" alt="" src="../static/public/image-1@2x.png" />
      <div class="smart-london-making-container2">
        <p class="smart-london5"><b>SMART LONDON</b></p>
        <p class="blank-line">Making</p>
        <p class="blank-line">London</p>
        <p class="blank-line">Smarter</p>
        <p class="blank-line">Together</p>
      </div>
      <b class="my-profile">My Profile </b
      ><img
        class="desktop-6-item"
        alt=""
        src="../static/public/ellipse-12@2x.png"
      /><img
        class="house-solid-1-icon2"
        alt=""
        src="../static/public/housesolid-1.svg"
      /><b class="home2">Home</b><b class="profile2">Profile</b
      ><img
        class="bell-solid-1-icon2"
        alt=""
        src="../static/public/bellsolid-1.svg"
      /><b class="notifications3">Notifications</b
      ><img class="desktop-6-inner" alt="" src="../static/public/ellipse-3.svg" /><b
        class="edit-profile"
        >Edit profile</b
      ><b class="settings2">Leaderboard</b
      ><img
        class="gear-solid-1-1"
        alt=""
        src="../static/public/gearsolid-1-1.svg"
      /><img
        class="gear-solid-1-22"
        alt=""
        src="../static/public/star.png"
      /><b class="peter-smith1">Peter Smith </b>
      <div class="trader-at-jp">Trader at J.P. Morgan, proud Londoner</div>
      <img class="desktop-6-child1" alt="" src="../static/public/star-13.svg" /><img
        class="desktop-6-child2"
        alt=""
        src="../static/public/star-11.svg"
      /><img class="desktop-6-child3" alt="" src="../static/public/star-14.svg" /><img
        class="desktop-6-child4"
        alt=""
        src="../static/public/star-7.svg"
      /><img class="desktop-6-child5" alt="" src="../static/public/star-8.svg" /><img
        class="user-group-solid-1-icon"
        alt=""
        src="../static/public/usergroupsolid-3.svg"
      />
      <div class="followers">Followers</div>
      <div class="div">567</div>
      <div class="div1">33</div>
      <div class="div2">12</div>
      <div class="div3">3</div>
      <div class="div4">78</div>
      <div class="div5">23</div>
      <div class="div6">5</div>
      <div class="div7">20</div>
      <b class="connectivity">Connectivity</b><b class="energy">Energy </b
      ><b class="materials"><p class="blank-line">Materials</p></b
      ><b class="placemaking"><p class="blank-line">Placemaking</p></b
      ><b class="mobility"><p class="blank-line">Mobility</p></b
      ><b class="water"
        ><p class="blank-line">Water</p>
        <p class="blank-line">&nbsp;</p></b
      ><b class="healthsafety"
        ><p class="blank-line">Health&Safety</p>
        <p class="blank-line"></p></b
      ><img class="desktop-6-child6" alt="" src="../static/public/star-20.svg" /><img
        class="desktop-6-child7"
        alt=""
        src="../static/public/star-21.svg"
      />
      <div class="rectangle-div"></div>
      <div class="make-a-post">Make a post</div>
      <img class="london1-1-icon" alt="" src="../static/public/london1-1@2x.png" /><img
        class="desktop-6-child8"
        alt=""
        src="../static/public/star-7.svg"
      /><img class="image-14-icon" alt="" src="../static/public/image-14@2x.png" /><img
        class="desktop-6-child9"
        alt=""
        src="../static/public/star-14.svg"
      /><img class="image-15-icon" alt="" src="../static/public/image-15@2x.png" /><img
        class="desktop-6-child10"
        alt=""
        src="../static/public/star-13.svg"
      /><img class="image-16-icon" alt="" src="../static/public/image-16@2x.png" /><img
        class="desktop-6-child11"
        alt=""
        src="../static/public/star-20.svg"
      /><img class="image-17-icon" alt="" src="../static/public/image-17@2x.png" /><img
        class="image-18-icon"
        alt=""
        src="../static/public/image-18@2x.png"
      /><img class="desktop-6-child12" alt="" src="../static/public/star-21.svg" />
    </div>
  </body>

  <script> 
  elements = document.getElementsByClassName("home2");
  for (let i = 0; i < elements.length; i++) {
    elements[i].onclick = function() {
      window.location.href = "/workerfeed";
    }
  }
  elements = document.getElementsByClassName("profile2");
  for (let i = 0; i < elements.length; i++) {
    elements[i].onclick = function() {
      window.location.href = "/user/peter";
    }
  }
  elements = document.getElementsByClassName("notifications3");
  for (let i = 0; i < elements.length; i++) {
    elements[i].onclick = function() {
      window.location.href = "/notification";
    }
  }
  elements = document.getElementsByClassName("settings2");
  for (let i = 0; i < elements.length; i++) {
    elements[i].onclick = function() {
      window.location.href = "/leaderboards";
    }
  }

  </script>
</html>
