<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/desktop-3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT Sans Caption:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-3">
      <div class="desktop-3-child"></div>
      <img
        class="user-group-solid-2-icon1"
        alt=""
        src="../static/public/usergroupsolid-3.svg"
      /><img class="image-1-icon3" alt="" src="../static/public/image-1@2x.png" />
      <div class="smart-london-making-container3">
        <p class="smart-london6"><b>SMART LONDON</b></p>
        <p class="making3">Making</p>
        <p class="making3">London</p>
        <p class="making3">Smarter</p>
        <p class="making3">Together</p>
      </div>
      <b class="my-profile1">My Profile </b
      ><img
        class="desktop-3-item"
        alt=""
        src="../static/public/ellipse-13@2x.png"
      /><img
        class="house-solid-1-icon3"
        alt=""
        src="../static/public/housesolid-1.svg"
      /><b class="home3">Home</b><b class="profile3">Profile</b
      ><img
        class="bell-solid-1-icon3"
        alt=""
        src="../static/public/bellsolid-1.svg"
      /><b class="notifications4">Notifications</b
      ><img class="desktop-3-inner" alt="" src="../static/public/ellipse-3.svg" /><b
        class="edit-profile1"
        >Edit profile</b
      ><b class="settings3">Leaderboard</b
      ><img
        class="gear-solid-1-11"
        alt=""
        src="../static/public/gearsolid-1-1.svg"
      /><img
        class="gear-solid-1-23"
        alt=""
        src="../static/public/star.png"
      /><b class="sadiq-khan1">Sadiq Khan</b>
      <div class="mayor-of-london">
        Mayor of London, Trying to make London a smarter city everyday
      </div>
      <img class="image-4-icon" alt="" src="../static/public/image-4@2x.png" /><img
        class="desktop-3-child1"
        alt=""
        src="../static/public/star-14.svg"
      /><img class="desktop-3-child2" alt="" src="../static/public/star-7.svg" /><img
        class="desktop-3-child3"
        alt=""
        src="../static/public/star-13.svg"
      /><img class="desktop-3-child4" alt="" src="../static/public/star-11.svg" /><img
        class="desktop-3-child5"
        alt=""
        src="../static/public/star-14.svg"
      /><img class="desktop-3-child6" alt="" src="../static/public/star-7.svg" /><img
        class="desktop-3-child7"
        alt=""
        src="../static/public/star-7.svg"
      /><img class="desktop-3-child8" alt="" src="../static/public/star-8.svg" /><img
        class="user-group-solid-1-icon1"
        alt=""
        src="../static/public/usergroupsolid-3.svg"
      />
      <div class="followers1">Followers</div>
      <div class="million">2.1 million</div>
      <img class="image-5-icon" alt="" src="../static/public/image-5@2x.png" /><img
        class="image-6-icon"
        alt=""
        src="../static/public/image-6@2x.png"
      /><b class="connectivity1">Connectivity</b><b class="energy1">Energy </b
      ><b class="materials2"><p class="making3">Materials</p></b
      ><b class="placemaking2"><p class="making3">Placemaking</p></b
      ><b class="mobility2"><p class="making3">Mobility</p></b
      ><b class="water2"
        ><p class="making3">Water</p>
        <p class="making3">&nbsp;</p></b
      ><b class="healthsafety2">Health&Safety </b
      ><img class="desktop-3-child9" alt="" src="../static/public/star-7.svg" /><img
        class="desktop-3-child10"
        alt=""
        src="../static/public/star-11.svg"
      /><img class="desktop-3-child11" alt="" src="../static/public/star-20.svg" /><img
        class="desktop-3-child12"
        alt=""
        src="../static/public/star-20.svg"
      /><img class="desktop-3-child13" alt="" src="../static/public/star-21.svg" /><img
        class="image-7-icon"
        alt=""
        src="../static/public/image-7@2x.png"
      /><img class="desktop-3-child14" alt="" src="../static/public/star-21.svg" /><img
        class="desktop-3-child15"
        alt=""
        src="../static/public/star-14.svg"
      />
      <div class="desktop-3-child16"></div>
      <div class="make-a-post1">Make a post</div>
      <div class="div8">145</div>
      <div class="div9">654</div>
      <div class="div10">235</div>
      <div class="div11">97</div>
      <div class="div12">678</div>
      <div class="div13">355</div>
      <div class="div14">428</div>
      <img class="image-3-icon" alt="" src="../static/public/image-3@2x.png" /><img
        class="image-8-icon"
        alt=""
        src="../static/public/image-8@2x.png"
      />
    </div>
  </body>

  <script>
    // get all elements with class "example"
    elements = document.getElementsByClassName("profile3");

    // loop through the elements and add an onclick event
    for (let i = 0; i < elements.length; i++) {
      elements[i].onclick = function() {
        // set window location to "/"
        window.location.href = "/user/peter";
      }
    }
    elements2 = document.getElementsByClassName("home3");

    // loop through the elements and add an onclick event
    for (let i = 0; i < elements2.length; i++) {
      elements2[i].onclick = function() {
        // set window location to "/"
        window.location.href = "/workerfeed";
      }
    }
  
    const elements3 = document.getElementsByClassName("notifications4");

    // loop through the elements and add an onclick event
    for (let i = 0; i < elements3.length; i++) {
      elements3[i].onclick = function() {
        // set window location to "/"
        window.location.href = "/notification";
      }
    }

    elements = document.getElementsByClassName("settings3");
    for (let i = 0; i < elements.length; i++) {
      elements[i].onclick = function() {
        // set window location to "/"
        window.location.href = "/leaderboards";
      }
    }
  </script>
</html>
