<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" rel="stylesheet">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <form method="POST" action="{{ url_for('workerfeed') }}">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" name="query" placeholder="Search">
            </div>
            <div class="control">
              <button class="button is-info" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
